* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

.todo-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.todo-app h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 32px;
}

.todo_list {
  border: 1px dashed black;
  border-radius: 8px;
  padding: 8px;
  margin: 14px 0;
  margin-bottom: 32px;
  height: 750px;
  overflow-y: scroll;
}

.todo-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 4px 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 8px;
}

.todo-item_title {
  text-align: center;
}

.todo-item_desc {
  font-weight: lighter;
  text-align: justify;
  margin: 8px 0px 8px 0px;
}

.todo-item_create {
  font-weight: lighter;
  font-size: 15px;
  margin: 6px 0 12px 0;
}

.todo-btn_box {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.delete_box {
  flex-grow: 4;
  margin: 8px;
}

.todo_item_delete {
  padding: 8px;
  width: 100%;
  font-size: 18px;
  background-color: orangered;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.todo-input {
  border: 1px dashed black;
  padding: 16px;
  margin: 14px 0;
  border-radius: 8px;
  margin-bottom: 32px;
}

.todo-title,
.todo-body {
  display: block;
  border-radius: 5px;
  border: 0;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Inter", sans-serif;
}

.todo-input button {
  border-radius: 5px;
  border: 0;
  background-color: lightblue;
  width: 100%;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1px;
}
