* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

.note-app_header {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.note-app_header h1 {
  font-weight: normal;
  font-size: 32px;
  flex: 1;
}

.note-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}

.navigation ul li a {
  font-size: 28px;
  color: black;
}

.note_list {
  border: 1px dashed black;
  border-radius: 8px;
  padding: 8px;
  margin: 14px 0;
  margin-bottom: 32px;
  height: 750px;
  overflow-y: scroll;
}

.note-list_empty {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-top: 25px;
}

.note-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 4px 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 8px;
}

.note-item_title {
  text-align: center;
}

.note-item_desc {
  font-weight: lighter;
  text-align: justify;
  margin: 8px 0px 8px 0px;
}

.note-item_create {
  font-weight: 400;
  font-size: 12px;
  margin: 6px 0 12px 0;
}

.note-btn_box {
  display: flex;
  width: 100%;
  margin-top: auto;
}

.delete_box {
  flex-grow: 4;
  margin: 8px;
}

.note_item_delete {
  padding: 8px;
  width: 100%;
  font-size: 18px;
  background-color: orangered;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.note-input {
  border: 1px dashed black;
  padding: 16px;
  margin: 14px 0;
  border-radius: 8px;
  margin-bottom: 32px;
}

.note-title,
.note-body {
  display: block;
  border-radius: 5px;
  border: 0;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: "Inter", sans-serif;
}

.note-input button {
  border-radius: 5px;
  border: 0;
  background-color: lightblue;
  width: 100%;
  padding: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1px;
}
